<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anasayfa</title>
</head>
<body>
    <h1 style="color:red">WELCOME {{$.Username}}</h1>
    <h2>user informations:</h2>
    <p style="color:purple" style="font-size: 30px">
        username: {{$.Username}} <br>
        password: {{$.Password}}<br>
        state: {{$.State}}<br>
        age: {{$.Age}}<br><br>
        <a href="/mainmenu/settings" style="font-size: large">USER SETTTİNGS</a><br><br>
        <a href="/mainmenu/json" style="font-size: large">USER JSON</a><br><br>
        <a href="/mainmenu/logout" style="font-size: large">LOGOUT</a>
    </p>

</body>
</html>